
LLM_API_KEY=pr-yalhM_OoH-JTDpcQaMP-hu-yV1ssUtgm-DP1t_FLkrY
LLM_BASE_URL=http://10.12.120.43:8787/v1
EMBEDDING_BASE_URL=http://10.12.120.32:8142/v1/embeddings
VECTOR_DB=chroma

# Database Configuration
# SQLite Database (no setup needed!)
DATABASE_PATH=./data/documents.db

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0

# Application Configuration
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
TOP_K_RESULTS=3